<%= form_with(model: channel) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <%= f.hidden_field :searchid, value: "" %>
  <div class="row blue-w px-0 py-3">
    <div class="col-2 small text-end mb-2 mx-0 px-0">
      <%= f.label :channel_name, 'Ch名：', class: 'pt-1 my-3 d-block' %>
      <%= f.label :ch_url, 'URL：', class: 'pt-1 my-3 d-block' %>
    </div>
    <div class="col-8 mb-2 px-0">
      <%= f.text_field :channel_name, class: 'form-control my-3' %>
      <%= f.text_field :ch_url, class: 'form-control my-3' %>
    </div>
    <% if current_page?(new_channel_path) %>
      <div class="text-center mb-2 mt-0">
        <%= f.submit '登録', class: 'b-metal btn mt-2 py-0' %>
      </div>
    <% else %>
      <div class="text-center mt-2">
        <%= f.submit '更新', class: 'b-metal btn mt-2 mx-2 py-0' %>
        <%= link_to '削除', @channel, method: :delete, data: { confirm: '削除しますか？' }, class: 'd-metal btn mx-2 mt-2 py-0' %>
      </div>
      <div class="text-center mt-3">
        <%= link_to '一覧に戻る', channels_path, class: 'btn metal p-2' %>
      </div>
    <% end %>
  </div>
<% end %>  
