<%= form_with(model: channel) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="row blue-w px-0 py-3">
    <div class="col-3 small text-end mb-2 mx-0 px-0">
      <%= f.label :channel_name, 'Ch名：', class: 'pt-1 my-3 d-block' %>
      <%= f.label :ch_url, 'URL：', class: 'pt-1 my-3 d-block' %>
    </div>
    <div class="col-7 mb-2 px-0">
      <%= f.text_field :channel_name, class: 'form-control my-3' %>
      <%= f.text_field :ch_url, class: 'form-control my-3' %>
    </div>
    <% if current_page?(new_channel_path) %>
      <div class="text-center mb-2 mt-0">
        <%= f.submit '登録', class: 'b-metal btn mt-2 py-0' %>
      </div>
    <% else %>
      <div class="col-3 text-center mt-2">
        <%= f.submit '登録', class: 'b-metal btn mt-2 mx-2 py-0' %>
        <%= link_to '削除', @channel, method: :delete, data: { confirm: '削除しますか？' }, class: 'd-metal btn mx-2 mt-2 py-0' %>
      </div>
    <% end %>
  </div>
<% end %>  
<%= form_with(model: channel) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="blue-w text-center gold m-0 py-0">動画情報登録</div>
  <div class="row blue-w px-0 py-3">
    <div class="col-3 small text-end mb-2 mx-0 px-0">
      <%= f.label :channel_name, 'Ch選択：', class: 'pt-1 my-3 d-block' %>
      <%= f.label :video_name, '動画名：', class: 'pt-1 my-3 d-block' %>
      <%= f.label :media, '媒体：', class: 'pt-1 my-3 d-block' %>
      <%= f.label :url, '動画URL：', class: 'pt-1 my-3 d-block' %>
    </div>
    <div class="col-7 mb-2 px-0">
      <%= f.collection_select :channel_id, current_user.channels.all, :id, :channel_name, {}, class: 'form-control my-3' %>
      <%= f.text_field :video_name, class: 'form-control my-3' %>
      <%= f.select :media, [["Youtube", "Youtube"], ["ニコニコ", "ニコニコ"], ["Mildom", "Mildom"], ["Twitch", "Twitch"], ["ツイキャス", "ツイキャス"], ["TVその他", "TVその他"]], {}, class: 'form-control my-3' %>
      <%= f.text_field :url, class: 'form-control my-3' %>
    </div>
    
    <% if current_page?(new_channel_path) %>
      <div class=" text-center mb-2 mt-0">
        <%= f.submit '登録', class: 'b-metal btn mt-2 py-0' %>
      </div>
    <% else %>
      <div class="text-center mt-2">
        <%= f.submit '登録', class: 'b-metal btn mt-2 mx-2 py-0' %>
        <%= link_to '削除', @channel, method: :delete, data: { confirm: '削除しますか？' }, class: 'd-metal btn mx-2 mt-2 py-0' %>
      </div>
      <div class="text-center mt-4 py-2">
        <%= link_to '一覧に戻る', channels_path, class: 'btn metal p-2' %>
      </div>
    <% end %>
  </div>  
<% end %>
