<h4 class="row now align-items-center text-center py-1 m-0">
  <div class="col-3 text-center m-0 p-0"></div>
  <div class="col-6 text-center m-0 p-0">Ch編集ページ</div>
  <div class="col-3 text-center m-0 p-0">
    <%= link_to '戻る', channels_path, class: 'btn metal py-0 mt-1' %>
  </div>
</h4>

<%= render'form',channel: @channel %>

<%= render'video_form', channel: @channel %>

<%= render'video_search', channel: @channel %>

<%= javascript_pack_tag 'user/forms' %>