<h4 class="row now align-items-center text-center py-1 m-0">
  <div class="col-3 text-center m-0 p-0"></div>
  <div class="col-6 text-center m-0 p-0">動画一覧</div>
  <div class="col-3 text-center m-0 p-0">
    <%= link_to '戻る', channels_path, class: 'btn metal py-0 mt-1' %>
  </div>
</h4>

<div class="wind small row align-items-center text-center p-0 m-0">
  <div class="col-2 m-0 p-0"></div>
  <div class="col-8 m-0 p-0">
    <% if @channel.icon.present? %>
      <img src="<%= @channel.icon %>" alt="" class="icon">
    <% end %>
    <%= @channel.channel_name %>
  </div>
  <div class="col-2 m-0 p-0"></div>
</div>

<%= render'guides/videos_index', channel: @channel, videos: @videos %>

<%= javascript_pack_tag 'user/forms' %>