<%= render 'layouts/tabs' %>
<div class="row p-0 m-0">
  <div class="col-md-7 blue-w px-0 py-3 m-0">
    <div class="row p-0 m-0">
      <div class="col-6 text-end px-2 m-0">
        <%= image_tag @user.avatar.url, alt: "" %>
      </div>
      <div class="col-6 text-start px-2 m-0">
        <div class="text-start">ユーザー：<%= @user.name %></div>
        <div class="text-start">番組表数：<%= @count_guides %></div>
        <div class="text-start">登録Ch数：<%= @count_channels %></div>
      </div>
    </div>
  </div>      
  <%= render 'profile_img' %>
</div>

<div class="wind text-center p-0 m-0">
  <%= form_with url: user_path, method: :get do |f| %>  
    <div class="row align-items-baseline px-0 py-2 m-0">
      <div class="col-3 small text-end mx-0 px-1">
        <%= f.label :guide_id, '番組表:' %>
      </div>
      <div class="col-6 mx-0 px-1">
        <%= f.collection_select :guide_id, current_user.guides.all, :id, :guide_name, {include_blank: "---"}, class: 'form-control' %>
      </div>
      <div class="col-2 text-center p-0 m-0">
        <%= f.submit '表示', class: 'd-metal btn px-3 py-0' %>
      </div>  
    </div>
  <% end %>
</div>
<% if params[:guide_id].present? %>
  <div class="row wind align-middle p-0 m-0">
    <div class="text-center pt-2 m-0">
      『<%= @guide.guide_name %>』
    </div> 
    <div class="text-center small pb-2 m-0">  
      <%= @guide.on_air %>&nbsp;放送分
    </div>
  </div>
  
  <div class="blue-w p-0 m-0">
    <%= render 'guides/timetable' %>
  </div>
<% end %>