<%= render 'layouts/tabs' %>
<div class="row blue-w align-middle px-0 py-4 m-0">
  <div class="col-5 text-end">
    <%= image_tag @user.avatar.url %>
  </div>
  <div class="col-5 text-center p-0">
    <p>ユーザー:&nbsp;<%= @user.name %></p>
    <p>番組表数:&nbsp;<%= @count_guides %></p>
    <p>登録Ch数:&nbsp;<%= @count_channels %></p>
  </div>
</div>
<%= form_with(model: @user) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <%= f.file_field :avatar %>
  <%= f.submit '登録', class: 'b-metal btn' %>
<% end %>
