<%= form_with(model: guide, url: new_guide_path, method: :post) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="row  blue-w px-0 py-2">
    <div class="row col-md-6 m-0 p-0">
      <div class="col-3 small text-end mb-2 mx-0 px-0">
        <%= f.label :guide_name, '　表名：', class: 'pt-1 my-2' %>
      </div>  
      <div class="col-8 small mb-2 mx-0 px-0"> 
        <%= f.text_field :guide_name, class: 'form-control my-2' %>
      </div>  
    </div>
    
    <div class="row col-md-6 m-0 p-0">
      <div class="col-3 small text-end mb-2 mx-0 px-0">
        <%= f.label :on_air, '放送日：', class: 'pt-1 my-2' %>
      </div>  
      <div class="col-8 small mb-2 mx-0 px-0"> 
        <%= f.date_field :on_air, class: 'form-control my-2' %>
      </div>  
    </div>
  </div>
  
  <div class="row text-center wind m-0 p-1">
    <div class="col-11 mx-0 px-0">内容入力</div>
    <div class="col-1 acord metal btn p-0">？</div>
  </div>
  
  <div class="blue-w page m-0 py-3">
    Ch名・動画名・開始時間・終了時間を選択して下さい。<br>
    Ch名を選ぶとそのChの動画が選択出来るようになります。<br>
    最大10件までまとめて登録出来ます。<br><br>
    同じ動画でも違う時間帯であれば複数登録することが出来ます。
  </div>
  
  <div class="row blue-w px-0 py-2">
    <div class="row align-items-center col-md-6 m-0 p-0">
      <div class="col-3 small text-end m-0 p-0">
        <%= f.label :channel_name, "　Ch名：", class: "mt-3" %>
        <%= f.label :video_name, "動画名：", class: "mt-3" %>
      </div>
      <div class="col-8 m-0 mx-0 px-0">
        <%= f.collection_select(:channel_id, channels, :id, :channel_name, {include_blank: "---"}, class: "form-control mt-3") %>
        <%= f.select(:videoid, [], {include_blank: "---"}, class: "default_select form-control mt-3") %>
      </div>
      
    </div>
    
    <div class="row align-items-center col-md-6 m-0 p-0">
      <div class="col-3 small text-end m-0 p-0">
        <%= f.label :begin_at, "　開始：", class: "mt-3" %>
        <%= f.label :close_at, "　終了：", class: "mt-3" %>
      </div>
      <div class="col-8 m-0 mx-0 px-0">
        <%= f.time_field :begin_at, class: 'form-control mt-3' %>
        <%= f.time_field :close_at, class: 'form-control mt-3' %>
      </div> 
    </div>
    
    <%- channels.each do |ch|  %>
      <template id="videos<%= ch.id %>">
        <%= f.collection_select(:videoid, ch.videos, :id, :video_name, {include_blank: "---"}, class: "form-control mt-3") %>
      </template>
    <% end %>

    <div class="text-center my-2">
      <%= f.submit '登録', class: 'b-metal btn py-0' %>
    </div>
  </div>
<% end %>

