<% @path = request.fullpath %>
<% if @path == '/guides/new' %>
  <%= form_with(model: guide) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :guide_name, '番組表名' %>
          <%= f.text_field :guide_name, class: 'form-control' %>
        </div>
      </div>
      
      <div class="col-sm-2">
        <div class="form-group">
          <%= f.label :on_air, '放送日' %>
          <%= f.date_field :on_air, class: 'form-control' %>
        </div>
      </div>
        
      <div class="col-sm-2">
        <div class="form-group">
          <%= f.submit '登録', class: 'btn btn-success' %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <%= form_with(model: guide) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :guide_name, '番組表名' %>
          <%= f.text_field :guide_name, class: 'form-control' %>
        </div>
      </div>
      
      <div class="col-sm-3">
        <div class="form-group">
          <%= f.label :on_air, '放送日' %>
          <%= f.date_field :on_air, class: 'form-control' %>
        </div>
      </div>
      
      <div class="col-sm-2">
        <div class="form-group">
          <%= f.submit '更新', class: 'btn btn-success' %>
          <%= link_to '削除', guide, method: :delete, data: { confirm: '削除しますか？' }, class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

