<table class="row scroll p-1 m-0">
  <tbody>
    <% h = 0 %>
    <% while h < 24 %>

      <tr class="border_top">
        <th class="text-center m-0" rowspan="2" width="20" id="hour<%= h %>"><%= h %></th>
        <td class="small border_right px-1 m-0">:00</td>
        
        <% if @start.include?(h) %>
          <% just = @guide_videos.where(start_h: h, start_m: 0).pluck(:video_id) %>
          <% just_v = @videos.where(id: just).distinct %>
          <% just_v.each do |v| %>
          
            <td class="wide m-0 px-0">
              <% if v.thumbnail.present? %>
                <figure class="hover-parent m-0 p-0">
                  <a href="<%= v.video_url %>">
                    <img src="<%= v.thumbnail %>" alt="" class="px-1 m-0">
                    <figcaption class="hover-mask m-0 px-2"><%= v.video_name %></figcaption></a>
                </figure>
              <% else %>
                <div class="thumb_alt text-center mx-1 px-0">
                  <%= image_tag "/assets/"+v.media+".png", alt: "", class: "thumb" %>
                  <div class="thumb_cap text-center"><%= v.media %></div>
                </div>
              <% end %>
              
              <% ch = @channels.find_by(id: v.channel_id) %>
              <img src="<%= ch.icon %>" alt="" class="icon">
              <div class="omit wide"><a href="<%= ch.channel_url %>"><%= ch.channel_name %></a></div>  
            </td>
          <% end %>
        <% end %>
      </tr>
      
      <tr class="border_bottom">
        <td class="small border_right px-1 m-0">:30</td>
        
        <% if @start.include?(h) %>
          <% half = @guide_videos.where(start_h: h, start_m: 30).pluck(:video_id) %>
          <% half_v = @videos.where(id: half).distinct %>
          <% half_v.each do |v| %>
          
            <td class="wide m-0 px-0">
              <% if v.thumbnail.present? %>
                <figure class="hover-parent m-0 p-0">
                  <a href="<%= v.video_url %>">
                    <img src="<%= v.thumbnail %>" alt="" class="px-1 m-0">
                    <figcaption class="hover-mask m-0 px-2"><%= v.video_name %></figcaption></a>
                </figure>
              <% else %>
                <div class="thumb_alt text-center mx-1 px-0">
                  <%= image_tag "/assets/"+v.media+".png", alt: "", class: "thumb" %>
                  <div class="thumb_cap text-center"><%= v.media %></div>
                </div>
              <% end %>
              
              <% ch = @channels.find_by(id: v.channel_id) %>
              <img src="<%= ch.icon %>" alt="" class="icon">
              <div class="omit wide"><a href="<%= ch.channel_url %>"><%= ch.channel_name %></a></div>  
            </td>
          <% end %>
        <% end %>
      </tr>
                
      <% h += 1 %>
    <% end %>  
  </tbody>
</table>