<% if videos.any? %>

  <%= form_with(model: channel, method: :delete) do |f| %>  
    <div class="row align-items-center blue-w mx-0 py-3 px-0">
      <div class="text-center mini m-0 pb-2 px-0">※動画をチェックし【削除】で一括削除できます</div>
    
      <div class="row border_y y_scroll videos text-center align-items-center m-0 p-0">
        <% videos.each do |v| %>
          <% if v.thumbnail.present? %>
            <img src=<%= v.thumbnail %> alt="" class="col-sm-4 my-2 mx-0 px-1 none">
            
            <div class="col-sm-1 my-2 mx-0 px-0">
              <%= f.check_box :video_id, { multiple: true, style: 'transform: scale(2);', id: v.id }, v.id, false %>
            </div>

            <div class="col-sm-7 text-start border-bottom my-2 mx-0 px-1"><%= v.video_name %></div>
            
          <% else %>
            <div class="col-sm-4 my-2 px-2"><%= image_tag "/assets/"+v.media+".png", alt: "", class: "thumb" %></div>
            
            <div class="col-sm-1  my-2 mx-0 px-0">
              <%= f.check_box :video_id, { multiple: true, style: 'transform: scale(2);', id: v.id }, v.id, false %>
            </div>
            
            <div class="col-sm-7 text-start border-bottom my-2 px-1"><%= v.video_name %></div>
            
          <% end %>
        <% end %>
      </div>
      
      <div class="text-center align-items-center my-3 px-0">
        <%= f.submit '削除', data: { confirm: '動画を削除しますか？' }, class: 'd-metal btn py-0 px-3' %>
      </div>
    </div>
  <% end %>
  
<% else %>
  <div class="blue-w text-center m-0 p-2">動画が登録されていません...</div>
<% end %>
