<h4 class="row now align-items-center text-center py-1 m-0">
  <div class="col-2 text-center m-0 p-0"></div>
  <div class="col-8 text-center m-0 p-0">番組表編集ページ</div>
  <div class="col-2 text-center m-0 p-0">
    <%= link_to '戻る', guides_path, class: 'btn metal py-0 mt-1' %>
  </div>
</h4>

<div class="text-center wind m-0 p-1">名前・日付変更</div>
<%= render'guideform', guide: @guide %>

<%= render'guide_video_form', guide: @guide, channels: @channels %>

<div class="text-center wind m-0 p-1">登録動画一覧</div>

<%= render 'timetable', guide: @guide, videos: @videos %>

<%= javascript_pack_tag 'user/forms' %>
<%= javascript_pack_tag 'user/timetable' %>
