<%= render 'layouts/tabs' %>
<% if @guides.any? %>
<p>↓名前クリックで編集ページへ</p>
  <table class="table table-striped text-center my-5">
    <thead>
      <tr>
        <th style="width: 40%">番組表名</th>
        <th style="width: 20%">放送日</th>
        <th style="width: 40%">作成日</th>
      </tr>
    </thead>
    <tbody>
      <% @guides.each do |g| %>
        <tr>
          <td><%= link_to g.guide_name, guide_path(g.id) %></td>
          <td><%= l g.on_air %></td>
          <td><%= l g.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%== pagy_bootstrap_nav(@pagy) %>
