<h3 class="text-center text-danger border-bottom pb-2 mt-2">番組表名：<%= @guide.guide_name %></h3>
<h5 class="text-center text-danger border-bottom pb-2 mt-0">放送日：<%= @guide.on_air %></h5>

<div class="text-center">
  <%= link_to '編集', edit_guide_path(@guide.id), class: 'btn btn-primary mx-2' %>
  <%= link_to '削除', @guide, method: :delete, data: { confirm: '削除しますか？' }, class: 'btn btn-secondary mx-2' %>
</div>
<div class="row mx-2">
  <%= render'table', guidechannels: @guidechannels %>
  
  <%= form_with(model: @guides_channel) do |f| %>
    <div class="form-group col-sm-6 offset-sm-3 my-2">
      <%= hidden_field_tag :guide_id, params[:id] %>
      <%= f.label :channel_id, '↓追加するチャンネルを選択' %>
      <%= f.collection_select :channel_id, current_user.channels.all, :id, :channel_name, {}, class: 'form-control' %>
    </div>
    <div class="text-center mt-3">
      <%= f.submit '追加', class: 'btn btn-info text-light' %>
    </div>
  <% end %>
</div>
<div class="text-center my-4">
  <%= link_to '一覧に戻る', guides_path, class: 'btn btn-warning text-dark mb-5' %>
</div>
