<h4>番組表名：<%= @guide.guide_name %></h4>
<h5>放送日：<%= @guide.on_air %></h5>
<%= link_to '編集', edit_guide_path(@guide.id), class: 'btn btn-success' %>
<%= link_to '削除', @guide, method: :delete, data: { confirm: '削除しますか？' }, class: 'btn btn-secondary' %>

<%= render'table', { guide: @guide, guidechannels: @guidechannels, pagy: @pagy } %>
