<div class="blue-w text-center align-middle py-1 m-0">
  『<%= @guide.guide_name %>』
  <%= @guide.on_air %>
</div>

<div class="blue-w p-0 m-0">
  <%= render 'timetable' %>
</div>

<div class="row blue-w p-0 m-0">
  <div class="col-6 text-center py-2">
    <%= link_to '一覧に戻る', guides_path, class: 'btn metal p-1' %>
  </div>
  <div class="col-6 text-center py-2">
    <%= link_to '編集ページ', edit_guide_path, class: 'btn d-metal p-1' %>
  </div>
</div>

<%= javascript_pack_tag 'user/timetable' %>