<ul class="nav nav-tabs nav-justified m-0">
  <li class="nav-item"><a href="<%= user_path(current_user) %>" class="nav-link <%= 'active bg-light' if current_page?(user_path(current_user)) %>">使い方<br>&emsp;</a></li>
  <li class="nav-item"><a href="<%= guides_path %>" class="nav-link <%= 'active bg-light' if current_page?(guides_path) %>">番組表<br>一覧</a></li>
  <li class="nav-item"><a href="<%= new_guide_path %>" class="nav-link <%= 'active bg-light' if current_page?(new_guide_path) %>">番組表<br>登録</a></li>
  <li class="nav-item"><a href="<%= channels_path %>" class="nav-link <%= 'active bg-light' if current_page?(channels_path) %>">チャンネル<br>一覧</a></li>
  <li class="nav-item"><a href="<%= new_channel_path %>" class="nav-link <%= 'active bg-light' if current_page?(new_channel_path) %>">チャンネル<br>情報登録</a></li>
</ul>
